@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../image/rohit-choudhari-tk2_RBZq7RA-unsplash.jpg);
    background-position: center;
    background-size: contain;
    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-style: normal;
}
main{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% auto;
}
h1{
    margin-bottom: 3rem;
    color: bisque;
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}
h1:first-of-type {
    animation: showup 7s infinite;
}
h1:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
}
h1:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
}
p{
    margin-bottom: 1.2rem;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
input{
    width: 100%;
    height: 50px;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 0.5rem;
}
#check-btn{
    width: 200px;
    height: 50px;
    margin-left: 33%;
    margin-bottom: 1rem;
    background-color: black;
    border: 1px solid blueviolet;
    border-radius: 0.5rem;
    color: blueviolet;
    font-size: 1.2rem;
    transition-duration: 1s;
    cursor: pointer;
}
#check-btn:hover{
    background-color: blueviolet;
    color: white;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:455px;}
    80% {opacity:1;}
    100% {opacity:0;width:455px;}
}